{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body" id="options-panel">
          <div>
            <h4>Hotels</h4>
            <select data-type="hotel" id="hotel-choices">

            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right" id="hotel-button">+</button>
          </div>
          <div>
            <h4>Restaurants</h4>
            <select data-type="restaurant" id="restaurant-choices">

            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right" id="restaurant-button">+</button>
          </div>
          <div>
            <h4>Activities</h4>
            <select data-type="activity" id="activity-choices">

            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right" id="activity-button">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-12">
      <h3>
        <span id="day-title">
          <!-- <span>Day 2</span> -->
          <button class="btn btn-xs btn-danger remove btn-circle">x</button>
        </span>
      </h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="day-buttons">
            <!-- <button class="btn btn-circle day-btn">1</button>
            <button class="btn btn-circle day-btn current-day">2</button>
            <button class="btn btn-circle day-btn">3</button> -->
            <button class="btn btn-circle day-btn" id="day-add">+</button>
          </div>
        </div>
        <div class="panel-body" id="itinerary">
          <div>
            <h4>My Hotel</h4>
            <ul class="list-group">
              <div class="itinerary-item" id="hotel-itenerary"></div>
            </ul>
          </div>
          <div>
            <h4>My Restaurants</h4>
            <ul class="list-group">
              <div class="itinerary-item" id="restaurant-itenerary">
                <!-- <span class="title">Bouley</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
                <span class="title">Marc Forgione</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
                <span class="title">Bouley</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button> -->
              </div>
            </ul>
          </div>
          <div>
            <h4>My Activities</h4>
            <ul class="list-group">
              <div class="itinerary-item" id="activity-itenerary">
                <!-- <span class="title">Mahayana Buddhist Temple Association</span> -->
                <!-- <button class="btn btn-xs btn-danger remove btn-circle">x</button> -->
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var hotels = {{ hotels | dump | safe }};
  var restaurants = {{ restaurants | dump | safe }};
  var activities = {{ activities | dump | safe }};
  let counter = 0;

  $(document).ready(function() {
    $(hotels).each(function(index, value) {
      $('#hotel-choices').append('<option>' + value.name + '</option>')
    });
    $(restaurants).each(function(index, value) {
      $('#restaurant-choices').append('<option>' + value.name + '</option>')
    });
    $(activities).each(function(index, value) {
      $('#activity-choices').append('<option>' + value.name + '</option>')
    });

    $('#options-panel').on('click', 'button', function() {
      let $name = $(this).prev().val();
      let $type = $(this).prev().data('type');

      if ($type === 'hotel') {
        if ($('#hotel-itenerary').is(':empty')) {
          $('#hotel-itenerary').append(`<span id=${counter} class='title'>${$name}</span>`)
            .append(`<button id=${counter} class="btn btn-xs btn-danger remove btn-circle">x</button>`);

          counter++;
          hotels.forEach(function(hotel) {
            if (hotel.name === $name) {
              drawMarker('hotel', hotel.place.location);
            }
          });
        }
        else {
          let prevHotel = $('#hotel-itenerary').children('span')[0];
          $('#hotel-itenerary').children('span').replaceWith(`<span id=${counter} class='title'>${$name}</span>`);

          counter++;
          hotels.forEach(function(hotel) {
            if (hotel.name === $name) {
              drawMarker(null, [0,0], prevHotel.id);
              drawMarker('hotel', hotel.place.location);
            }
          });
        }
      }
      else if ($type === 'restaurant') {
        $('#restaurant-itenerary').append(`<span id=${counter} class='title'>${$name}</span>`)
          .append(`<button id=${counter} class="btn btn-xs btn-danger remove btn-circle">x</button>`);

        counter++;
        restaurants.forEach(function(restaurant) {
          if (restaurant.name === $name) {
            drawMarker('restaurant', restaurant.place.location)
          }
        });

      }
      else if ($type === 'activity') {
        $('#activity-itenerary').append(`<span id=${counter} class='title'>${$name}</span>`)
          .append(`<button id=${counter} class="btn btn-xs btn-danger remove btn-circle">x</button>`);

        counter++;
        activities.forEach(function(activity) {
          if (activity.name === $name) {
            drawMarker('activity', activity.place.location)
          }
        });
      }
  });

  $('#itinerary').on('click', 'button', function() {
    console.log(this.id);
    console.log(this.previousSibling);
    $(this).prev().remove();
    $(this).remove();

    drawMarker(null, [0,0], this.id);
  });


});


</script>
{% endblock %}
